#play, #clear {
  margin-top: 5px;
}

.wrapper {
  width: 700px;
}

#demos {
  width: 60%;
  margin: 0 auto;
}

#demo-1, #demo-2 {
  display: inline-block;
}

#sequencers {
  margin-top: 1em;
  clear: both;
}
