#play, #clear {
  margin-top: 5px;
}

.wrapper {
  width: 700px;
}

#demos {
  width: 60%;
  margin: 0 auto;
}

#demo-1, #demo-2 {
  display: inline-block;
}

#sequencer-container {
  width: 90%;  
  padding: 10px;
  clear: both;
}

#sequencers {
  width: 700px;
  margin-top: 1em;
  float:left;
}

#select-wrapper {
  margin-left: 710px;
  margin-top: 1em;
}

#select-lead {
  height: 300px;
  background-color: #ff9a02;
  margin-bottom: 2px;
}

#select-bass {
  height: 148px;
  background-color: #7e49b2;
  margin-bottom: 2px;
}

#select-noise {
  height: 148px;
  background-color: #e863a8;
}

#select-lead, #select-bass, #select-noise {
  overflow: hidden;
  width: 40px;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.right {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 15px;
}

.right:after {
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1em;
  height: 1em;
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

a:hover .right:after {
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
}

#select-lead .right {
  margin-top: 120px;
}

#select-bass .right, #select-noise .right {
  margin-top: 45px;
}

#lead-link, #bass-link, #noise-link {
  float: left;
}

#lead-synths, #bass-synths, #noise-synths {
  margin-left: 100px;
}


